
@{
    ViewData["Title"] = "MasterPage";
}
<environment names="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
</environment>
<h4>Lista de dados </h4>

@RenderBody()

